body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #08002e;
  color: white;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

section {
  padding: 80px 60px;
}

h1, h2, h3 {
  margin: 0;
}

p {
  color: #cbd5e1;
  line-height: 1.6;
}