*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins',sans-serif;
  background:#0f172a;
  color:#ffffff;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

ul{
  list-style:none;
}

img{
  max-width:100%;
  display:block;
}
a,
button,
.btn,
.skill-card,
.project-card {
  transition: all 0.3s ease;
}